.chat-container {
  width: 25%;
  position: fixed;
  bottom: 3%;
  right: 3%;
}

@media (max-width: 450px) {
  .chat-container {
    width: 95%;
    position: fixed;
    bottom: 3%;
    right: 3%;
  }
  .response-container {
    height: 60vh;
  }
}

.headline-chat {
  background-color: #9c6afb;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  font-size: 20px;
}

.mainFormChat {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.mainFormChat .chat-input {
  border: 1px solid #fff;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
  overflow: auto;
}

.mainFormChat .chat-input:focus {
  outline: none;
  border: none;
}
.response-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 370px;
  padding: 15px;
}

.chat-btn {
  background-color: #9c6afb;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.div-btns-assis {
  width: 100%;
  height: 25%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.assisBtn {
  height: 50px;
  background-color: #9c6afb;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-align: right;
}

.msg-right {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

/* .msg-left span,
.msg-right span {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
} */

.msg-right span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 30px 1px 30px 30px;
  padding: 15px;
  background-color: #cec9fd;
}

.msg-left {
  margin-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.msg-left span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 1px 30px 30px 30px;
  padding: 15px;
  background-color: #ddd;
}

.close-btn-chat:hover {
  cursor: pointer;
}
