@media (max-width: 450px) {
  .results-page {
    width: 100%;
  }
  .results-header {
    padding-right: 10px;
    padding-left: 10px;
  }
  section.bar-chart-section {
    display: none;
  }
}

@media (min-width: 600px) {
  .mobile-disclaimer {
    display: none;
  }
}

.mobile-disclaimer {
  justify-content: center;
  margin: 1rem;
}

.results-container {
  min-height: 100vh;
}
.results-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9ebf0;
  padding-top: 3rem;
}

.results-page {
  margin: 0 auto;
  max-width: 80%;
}

.bar-chart-industry {
  margin-top: 3rem;
  padding: 1.5rem;
  display: flex;
  max-height: 100vh;
  justify-content: center;
}
.pie-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.industry-container {
  margin-top: 2rem;
}
.industry-text-container {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.industry-text-box {
  background-color: #e9ebf0;
  width: 40%;
  padding: 1.5rem;
  box-shadow: 3px 3px 10px;
  border-radius: 15px;
}
.title-graph-text-box {
  display: flex;
  justify-content: center;
}
.pie-text-box {
  background-color: #e9ebf0;
  width: 40%;
  padding: 1.5rem;
  box-shadow: 3px 3px 10px;
  border-radius: 15px;
}
.pie-text-box ul {
  list-style-type: disc; /* Ensures the bullets are shown */
  padding-left: 20px; /* Adds indentation to align bullets properly */
  margin: 10px 0; /* Optional: Adds some spacing */
}

.pie-text-box li {
  margin-bottom: 5px; /* Optional: Adds spacing between list items */
}

.pie-chart {
  margin-top: 4rem;
  padding: 4rem;
  height: 50%;
  width: 50%;
}
.results-h1 {
  margin-top: 4rem;
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
}

/* Box plot bar */
.box-chart-Large-box {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin: 3rem auto;
  height: 100px;
  background-color: red;
}

.Bar-left,
.line-female,
.Bar-middle,
.line-user,
.line-avg,
.line-male,
.Bar-right {
  position: absolute;
  top: 0;
  height: 100%;
  transition: 0.2s;
}

.Bar-left {
  width: 25%;
  left: 0;
  background-color: rgb(76, 76, 246);
}
.line-female {
  width: 10px;
  height: auto;
  top: -10%;
  bottom: -10%;
  right: 0;
  background-color: rgb(13, 13, 14);
  border-radius: 20px;
}

.Bar-middle {
  width: 10%;
  left: 40%;
  background-color: rgb(76, 246, 181);
  border-radius: 5px;
}
.line-user {
  width: 10px;
  height: auto;
  top: -10%;
  bottom: -10%;
  background-color: rgb(20, 20, 247);
  border-radius: 5px;
}

.user-salary {
  position: absolute;
  width: 200px;
  bottom: 110%;
  text-align: center;
  left: -100px;
}
.user-salary b {
  display: block;
  font-size: 1.8rem;
  line-height: 1;
}

.line-avg {
  width: 10px;

  background-color: rgb(13, 13, 14);
  border-radius: 5px;
  height: auto;
  top: -10%;
  bottom: -10%;
}
.line-male {
  width: 10px;
  height: 100px;
  background-color: rgb(68, 68, 104);
  border-radius: 5px;
  height: auto;
  top: -10%;
  bottom: -10%;
}
.Bar-right {
  width: 50%;
  right: 0;
  background-color: rgb(246, 76, 209);
}

.insights-text {
  font-size: 1.2rem;
}
