.results-container {
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
}

.results-page {
  display: grid;
  width: 100%;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.bar-chart {
  margin-top: 4rem;
  padding: 4rem;
  display: flex;
  min-height: 80vh;
}
.results-h1 {
  margin-top: 4rem;
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
}

/* Box plot bar */
.box-chart-Large-box {
  display: flex;
  flex-direction: row;
}

.Bar-left {
  width: 300px;
  height: 100px;
  background-color: rgb(76, 76, 246);
  border-radius: 5px;
}
.line-female {
  position: relative;

  width: 10px;
  height: 100px;
  background-color: rgb(13, 13, 14);
  border-radius: 5px;
}
.Bar-middle {
  position: relative;

  width: 300px;
  height: 100px;
  background-color: rgb(76, 246, 181);
  border-radius: 5px;
}
.line-user {
  position: relative;

  width: 10px;
  height: 100px;
  background-color: rgb(13, 13, 14);
  border-radius: 5px;
}
.line-avg {
  position: relative;

  width: 10px;
  height: 100px;
  background-color: rgb(13, 13, 14);
  border-radius: 5px;
}
.line-male {
  position: relative;

  width: 10px;
  height: 100px;
  background-color: rgb(13, 13, 14);
  border-radius: 5px;
}
.Bar-right {
  position: relative;

  width: 300px;
  height: 100px;
  background-color: rgb(246, 76, 209);
  border-radius: 5px;
}
